## Import the neccessary libraries

In [47]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import dates
from datetime import datetime
import random 
from shutil import copyfile
from os import makedirs, listdir
import sys
from matplotlib.image import imread
from matplotlib.dates import DateFormatter

## Import deeplearning libraries

In [37]:
import keras
#import  tensorflow as tf
#import tensorflow
#import keras
from tensorflow import keras
from keras.models import Sequential
from keras import layers
from keras.layers import Conv2D, MaxPool2D, Dropout
from keras import backend as K
from keras.layers import Layer
from tensorflow.keras.optimizers import SGD, Adam
from tensorflow.keras.utils import Sequence
from keras.layers.recurrent import LSTM
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from keras.preprocessing.image import ImageDataGenerator, load_img, img_to_array

In [31]:
#!pip install tensorflow

In [14]:
import cufflinks as cf
import plotly.graph_objs as go
import plotly.offline as py
import plotly.express as px
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected= True)
cf.go_offline()

### Individual household electric power consumption Data Set

In [45]:
"""
DATASET DOWNLOAD
"""
import os.path

DATASET = "household_power_consumption.zip" 
URL = "https://archive.ics.uci.edu/ml/machine-learning-databases/00235/"

# Download if it does not exist
if not os.path.isfile(DATASET):
    import requests
    print("Downloading file...")
    downfile = requests.get(URL)
    open(DATASET, 'wb').write(downfile.content)
    del downfile
else:
    print("Skipping download...")

print("Done!")

Downloading file...
Done!

In [55]:
mts_df = pd.read_csv('household_power_consumption.csv', sep=";")

In [58]:
mts_df.head(20)

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0
5,16/12/2006,17:29:00,3.520,0.522,235.020,15.000,0.000,2.000,17.0
6,16/12/2006,17:30:00,3.702,0.520,235.090,15.800,0.000,1.000,17.0
7,16/12/2006,17:31:00,3.700,0.520,235.220,15.800,0.000,1.000,17.0
8,16/12/2006,17:32:00,3.668,0.510,233.990,15.800,0.000,1.000,17.0
9,16/12/2006,17:33:00,3.662,0.510,233.860,15.800,0.000,2.000,16.0
10,16/12/2006,17:34:00,4.448,0.498,232.860,19.600,0.000,1.000,17.0
11,16/12/2006,17:35:00,5.412,0.470,232.780,23.200,0.000,1.000,17.0
12,16/12/2006,17:36:00,5.224,0.478,232.990,22.400,0.000,1.000,16.0
13,16/12/2006,17:37:00,5.268,0.398,232.910,22.600,0.000,2.000,17.0
14,16/12/2006,17:38:00,4.054,0.422,235.240,17.600,0.000,1.000,17.0
15,16/12/2006,17:39:00,3.384,0.282,237.140,14.200,0.000,0.000,17.0
16,16/12/2006,17:40:00,3.270,0.152,236.730,13.800,0.000,0.000,17.0
17,16/12/2006,17:41:00,3.430,0.156,237.060,14.400,0.000,0.000,17.0
18,16/12/2006,17:42:00,3.266,0.000,237.130,13.800,0.000,0.000,18.0
19,16/12/2006,17:43:00,3.728,0.000,235.840,16.400,0.000,0.000,17.0

In [57]:
mts_df.columns

Index(['Date', 'Time', 'Global_active_power', 'Global_reactive_power',
       'Voltage', 'Global_intensity', 'Sub_metering_1', 'Sub_metering_2',
       'Sub_metering_3'],
      dtype='object')